.display-6 { /*the title*/
    font-family: 'PT Serif', serif;
    color: #466FB6;
}

.intro {
    font-family: 'PT Serif', serif;
    color: #466FB6;
    font-style: italic;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    width: 120px;
    height: 50px;
    margin-bottom: 25px;
}

.first-label {
    font-family: 'PT Serif', serif;
    color: #466FB6;
    font-size: 20px;
}

.second-label {
    font-family: 'PT Serif', serif;
    color: #466FB6;
    font-size: 20px;
}

.exchange-app-body {
    margin-left: 10px;
    margin-right: 10px;
}

#conversion-p {
    font-family: 'PT Serif', serif;
    color: #466FB6;
    font-size: 20px;
}

.currency {
    font-family: 'PT Serif', serif;
    font-size: 25px; 
    margin-left: 10px;
    color: #515151;
}

#switch-btn {
    margin-left: 10px;
}

#flag-start {
    margin-left:10px;
    margin-top:-13px;
}

#flag-end {
    margin-left: 246px; 
    margin-top: -62px;
}